ProctrackType=proctrack/cgroup
TaskPlugin=task/affinity,task/cgroup
AccountingStorageHost={{ slurm_AccountingStorageHost }}
JobAcctGatherType=jobacct_gather/linux
AccountingStorageType=accounting_storage/slurmdbd
JobCompType=jobcomp/filetxt
JobCompLoc=/shared/slurm/completions
